<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/projectLayout}">
<div layout:fragment="content">


    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Base <i class="fa fa-chevron-right"></i></span></p>
                    <h2 class="mb-0 bread">Board</h2>
                </div>
            </div>
        </div>
    </section>

    <div id="wrapping">
        <div id="board">
            <table id="table">
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>WRITER</th>
                    <th>DATE</th>
                    <th>HITS</th>
                </tr>
                <tr th:each="board: ${boardList}">
                    <td th:text="${board.id}"></td>
                    <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}"
                           th:text="${board.boardTitle}"></a></td>
                    <td th:text="${board.boardWriter}"></td>
                    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${board.boardHits}"></td>
                </tr>
            </table>
        </div>
        <!-- 첫번째 페이지로 이동 -->
        <!-- /board/paging?page=1 -->
        <div id="pageC">
            <a th:href="@{/board/paging(page=1)}">First</a>
            <!-- 이전 링크 활성화 비활성화 -->
            <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
            <a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>

            <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                    for(int page=startPage; page<=endPage; page++)-->
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <!-- 현재페이지는 링크 없이 숫자만 -->
            <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
                <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
            <span th:unless="${page == boardList.number + 1}">
                <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
            </span>
        </span>
            <!-- 다음 링크 활성화 비활성화
                사용자: 2페이지, getNumber: 1, 3페이지-->
            <a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">next</a>
            <!-- 마지막 페이지로 이동 -->
            <a th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>
        </div>
        <div id="b">
            <button onclick="saveReq()">글작성</button>
        </div>
        </section>
    </div>


    <script>
        const saveReq = () => {
            location.href = "/board/save";
        }
    </script>
</div>
</html>
