@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('assets/empty-blackboard.jpg'); /* ✅ 슬래시 꼭 필요함 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* 일반 CSS */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff9c4 inset !important; /* 배경 덮어쓰기 */
  -webkit-text-fill-color: black !important;           /* 텍스트 색도 강제 설정 */
}

/* Tailwind에서 처리하려면 global.css나 index.css에 추가 */
@layer base {
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fff9c4 inset !important;
    -webkit-text-fill-color: black !important;
  }

  .no-yellow-autofill input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Dokrip';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaruBuri';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Decoschool';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoschool.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CrayonFont';
  src: url('../public/assets/fonts/crayon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunpen';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


